@use "functions" as *;
@use "variables" as *;

/* General body styling */
body {
  position: relative; /* Ensures the body is positioned relative to its normal flow */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
  font-family: Rubik;
  font-style: normal;
  line-height: normal;
  background: #0e1323;
}

/* Media query for screens with a width of up to 375px */
@media screen and (max-width: 375px) {
  body {
    min-height: 100%; /* Ensures the body takes up at least the full height of its parent container */
  }
}

// Utilities

.activity-name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.duration {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}

.timeframe {
  color: #bbc0ff;
  font-size: 15px;
  font-weight: 400;
}

// Mobile first approach
.container {
  display: flex;
  flex-direction: column;
  gap: rem(24px);
  padding: rem(81px) rem(24px);

  .profile-tile {
    border-radius: 15px;
    background: #1c204b;

    .bio {
      display: flex;
      align-items: center;
      column-gap: rem(20px);
      border-radius: 15px;
      background: #5747ea;
      height: rem(133px);
      padding: rem(35px) rem(36px) rem(34px) rem(32px);
      column-gap: rem(20px);

      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 3px solid #ffffff;
      }

      .data {
        span {
          color: #bbc0ff;
          font-size: 15px;
          font-weight: 400;
        }
        p {
          color: #fff;
          font-size: 24px;
          font-weight: 400;
        }
      }
    }

    .timeframes {
      display: flex;
      padding: rem(24px) 0;
      align-items: center;
      justify-content: space-evenly;

      button {
        color: #7078c9;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        border: none;
        background-color: transparent;

        &.active {
          color: #ffffff;
        }

        &:hover,
        &:focus {
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }

  .tiles_wrapper {
    display: grid;
    gap: rem(24px);

    .tile {
      height: rem(160px);
      position: relative;
      border-radius: 15px;

      img {
        float: right;
        margin-right: rem(17.4px);
      }

      .details {
        border-radius: 15px;
        background: #1c204b;
        height: rem(122px);
        padding: 0 rem(24px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: rem(7px);
        position: absolute;
        bottom: 0;
        width: 100%;

        &:hover {
          cursor: pointer;
          background: #33397a;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          svg {
            &:hover {
              path {
                fill: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    max-width: rem(1110px);
    width: 100%;

    .profile-tile {
      .bio {
        padding: rem(37px) rem(85px) rem(80px) rem(32px);
        flex-direction: column;
        align-items: flex-start;
        height: auto;

        img {
          margin-bottom: rem(43px);
          width: 78px;
          height: 78px;
        }

        .data {
          p {
            font-size: rem(40px);
          }
        }
      }

      .timeframes {
        flex-direction: column;
        padding: rem(26px) 0 rem(33px) rem(32px);
        align-items: flex-start;
        row-gap: rem(21px);
      }
    }

    .tiles_wrapper {
      grid-template-columns: repeat(3, 1fr);
      width: 100%;

      .tile {
        height: rem(245px);

        .details {
          height: rem(200px);
          justify-content: unset;
          row-gap: rem(24px);
          padding: rem(29px) rem(35px) rem(32px) rem(30px);

          .activity {
            flex-direction: column;
            align-items: flex-start;

            .duration {
              font-size: 56px;
            }
          }
        }
      }
    }
  }
}
